<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-default" style="font-size:14px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="<%= root_path %>"><span class='glyphicon glyphicon-home'></span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "<span class='glyphicon glyphicon-th-list'></span> All Posts".html_safe, posts_path %></li>
            <li><%= link_to "<span class='glyphicon glyphicon-plus'></span> New Post".html_safe, new_post_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "<span class='glyphicon glyphicon-list'></span> Your Posts + Comments".html_safe, users_path %></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group" id="search">
              <span class='glyphicon glyphicon-search'></span>
              <%= form_tag posts_path, class: "form-control", method: :get do %>
                <%= label_tag "Search for:" %>
                <%= text_field_tag :query, @query, class:"form-control" %>
                <%= submit_tag "Search", class:"btn btn-default" %>
              <% end %>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class='glyphicon glyphicon-user'></span> Hello <%= current_user.first_name %>! <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <p class="navbar-text"> <span class='glyphicon glyphicon-log-out'></span> <%= link_to "Sign Out", sessions_path, method: :delete %></p> </li>
              </ul>
              <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Sign In or Sign Up <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <p class="navbar-text"> <span class='glyphicon glyphicon-pencil'></span> <%= link_to "Sign Up", new_user_path %></p> </li>
                <li> <p class="navbar-text"> <span class='glyphicon glyphicon-log-in'></span> <%= link_to "Sign In", new_session_path %></p> </li>
              <% end %>
              </ul>
            </li>
        </ul>
    </nav>

  </body>
</html>
